//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}
.grey{
	color:grey;
}
.fixed{
	position: fixed;
	width: 100%;
	z-index: 10;
}
.primer-button{
  margin-top: 6px;
}  