.container-intro {
  background-image: url(../img/home.png);
  height: 726px;
}
nav.navbar.navbar-default {
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}
.row {
  margin-right: 0px;
}
.home-icon{
  text-align: center;
  padding: 50px 0;
}
.home-texto{
  text-align: center;
  color: rgb(48, 194, 227);
  padding: 0 7%;
}
.home-texto h3{
  color: rgb(188, 188, 188);
}
.btn-danger {
  color: #fff;
  background-color: #FF6A49;
 		
}
.btn{
  padding: 9px 32px;
  border-radius: 10px;
}
.flecha {
  position: relative;
  text-align: center;
  top: 27%;
}
.flecha2 {
  position: relative;
  text-align: center;
  top: 40px;
}
.metodologia-texto {
  text-align: center;
  margin: 7%;
}
.metodologia-texto h2{
  margin-bottom: 3%;
  color: rgb(48, 194, 227);
}
.metodologia-texto h3{
	display: inline-block;
	color: rgb(255, 106, 73);
}
.metodologia-texto h4{
	display: inline-block;
}
.linea1 {
   height: 215px;
  border-bottom: 1px solid;
  -webkit-transform: translateY(-59px) 
  translateX(234px) 
  rotate(76deg);
  position: absolute;
  top: 154px;
  border: 2px dashed;
  color: #ff6a49;
}
.linea2 {
  height: 192px;
  -webkit-transform: translateY(-44px)
   translateX(13px)
    rotate(108deg);
  position: absolute;
  top: 154px;
  border: 2px dashed;
  color: #ff6a49;
}
.linea3 {
    width: 112px;
  -webkit-transform: translateY(17px)
   translateX(186px)
    rotate(89deg);
  position: absolute;
  border: 2px dashed;
  color: #ff6a49;
  top: 14%;
}
.interno{
  border: dashed;
  border-radius: 50%;
  width: 450px;
  margin: auto;
  height: 450px;
  color: white;
}

.texto-interno{
 text-align: center;
  margin: 24% 12%;
}
.texto-interno h4{
   line-height: 40px;
   font-size: 25px;
}
.externo{
  border-radius: 50%;
  width: 461px;
  margin: auto;
  height: 465px;
  padding-top: 8px;
  background-color: rgb(255, 106, 73);
}
.texto-derecha{
  position: relative;
  top: 242px;
  text-align: center;
  left: 30px;
}
.texto-derecha h3{
  color: rgb(255, 106, 73);
}
.texto-derecha h4{
    color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
}
.texto-izquierda{
  position: relative;
  top: 242px;
  text-align: center;
  right: 30px;
}
.texto-izquierda h3{
  color: rgb(255, 106, 73);
}
.texto-izquierda h4{
    color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
}
.texto-abajo{
  padding-top: 56px;
  text-align: center;
  h3 {
  	color: rgb(255, 106, 73);	
  }
  h4 {
	color: #bcbcbc;
  	line-height: 25px;
  	font-size: 19px;
  	padding-bottom: 32%;
  }
}

.boton-interno .btn {
  padding: 16px 69px;
  border-radius: 25px;
  position: absolute;
  top: 83%;
  left: 33%;
}
.boton-abajo{
   position: absolute;
  left: 46%;
  top: 268%;
}
.postulante{
  background-image: url(../img/img-02.png);
}
.texto-postulante{
  text-align: center;
  color: white;
  padding: 5%;
}
.icono-10{
  position: relative;
  left: 87%;
  bottom: 66px;
  z-index: 8;
}
.dashed-left{
  border-left: dashed 1px white;
 
}
.opcion2{
	  height: 189px;
}
.texto-crea{
  border-bottom: 1px dashed;
  color: white;
  h4{
  	padding-right: 163px;
  	font-size: 27px;
  }
}
.logonumero1{
	text-align: right;
}
.parrafo-crea{
	color: white;
    padding: 4% 12%;
   font-size: 29px;
   padding-bottom: 0px;
}

.boton-ver {
	padding: 3%;
	text-align: center;
}
.btn-info{
	border-color: #FFFFFF;

}
.empresas{
	text-align:center;	
}
.empresas-texto {
	h3{
	color: grey;
}
	h4{
		color: rgb(55, 194, 188);
	}
}
.border-bottom{
  border-bottom: 1px dashed;
  width: 27%;
  margin: 3% auto;
  color: red;
}
.centros{
  background-color: #77d248;
  height: 700px;
  text-align:center;	
}
.texto-centros{
	h3,p{
	color: white;
}
	span{
		color:rgb(205, 243, 13);
		}
	h4{
		color:black ;
	}

}
.btn-success {
  background-color: #77d248;
  border-color: #EBF4EB;
}
.border-bottom2{
  border-bottom: 1px dashed;
  width: 27%;
  margin: 3% auto;
  color: white;
}
.lista-oportunidades{
   background-image: url(../img/img-03.png);
  height: 1169px;	

}
.lista-titulo{
  text-align: center;
  padding-top: 10%;
}
.lista{
	list-style:none;
	margin-bottom: 	16%;
}
.lista-titular{
  border-bottom: 1px solid rgb(37, 217, 239);
  color: rgb(37, 217, 239);
  width: 27%;
  margin: 2% 0;
}
.texto-centros{
	margin-top: 10%;
}
.texto-centro{
	margin-top: 10%;
}
.boton-vermas{
  width: 32%;
  position: relative;
  top: 76px;
  margin-left: inherit;
}
.boton-vertodos{
  text-align: center;
  margin-top: 10%;
}
.btn-warning {
  color: #fff;
  background-color: #BCBCBC;
  border-color: #BCBCBC;
}
.btn-default {
  color: #FC060B;
  background-color: #fff;
  border-color: #F40B0B;
}
.flecha4{
  position: relative;
  text-align: center;
  top: 66px;
}
.boton-contactanos{
	margin-top: 7%;
}

.border-boton-dashed{
  border: 1px dashed grey;
  margin: 0% 21%;
  position: relative;
  top: 188px;
}
.flecha5{
  position: relative;
  text-align: center;
  top: 200px;
}
.titulo-blog{
  text-align: center;
    margin-top: 9%;
}
.logo-blog{
	text-align:center;	
}
.blog-texto{
  background-color: rgb(241, 241, 241);
  color: grey;
  padding: 18% 15%;
}
.blog-texto:hover{
  background-color: rgb(255,189,18);
  color: white;
  padding: 18% 15%;
}
.logo-blog img{
	border-radius: 50%;
}
.logo-blog{
  position: relative;
  top: 36px;
}
.boton-blog{
  text-align: center;
  margin-top: 8%;
}
.flecha6{
  position: relative;
  text-align: center;
  top: 40px;
}
.contacto{
  background-color: rgb(241, 241, 241);
  height: 622px;
  text-align: center;
}
.columna {
  padding-bottom: 1%;
}
.content{
	padding: 1% 15% 1% 1%;
}
textarea {
  padding: 17px 25px 10px 10px;
  resize:none;
}
.btn-primary {
  color: #fff;
  background-color: #BCBCBC;
  border-color: #BCBCBC;
}
.titulo-contacto{
	margin: 7% 0% 5%;
	color: 	rgb(188, 188, 188);
}
.redes img{
	border-radius: 50%;
  border: 2px solid white;
}
.redes{
  position: relative;
  bottom: 20px;
}
.footer{
	background: rgb(188, 188, 188);
	height:90px;
}
.text-footer{
	text-align: right;
    color: white;
}





















@media screen and (max-width:$screen-phone){
	.navbar-toggle{
		float: left;
	}

	.texto-izquierda{
		display: block;
		position: relative;
		top: 0;
		right: 0;
	}
	.texto-derecha{
		display: block;
		position: relative;
		position: relative;
  		top: 0;
  		left: 0;
	}
	.texto-abajo{
		display: block;
		position: relative;
	}
	.btn{
		 position: absolute;
  		float: right;
  		bottom: 101%;
	}
}