@font-face {
font-family:lato-Italic;
src: url("../fonts/lato-Italic.ttf");
}
@font-face {
font-family:lato-Bold;
src: url("../fonts/lato-Bold.ttf");
}
@font-face {
font-family:lato-Black;
src: url("../fonts/lato-Black.ttf");
}
@font-face {
font-family:lato-Regular;
src: url("../fonts/lato-Regular.ttf");
}
@font-face {
font-family:lato-Hairline;
src: url("../fonts/Hairline.ttf");
}
@font-face {
font-family:lato-light;
src: url("../fonts/lato-light.ttf");
}
@font-face {
font-family:lato-lightitalic;
src: url("../fonts/lato-lightitalic.ttf");
}
.navbar-default .navbar-nav > li > a {
  font-size: 24px;
}
.navbar{
background-color:transparent;
transition:0.5s ease-in-out;
} 
 a {
  color: #FEFEFE;
}
.navbar.scroll{
  background-color: aliceblue;
  position:fixed;
  width: 100%;
  z-index:10;
}
li .btn-default {
  color: #FFFFFF;
  background-color: #989898;
  border-color: #BCBCBC;
}

li {
  font-family: lato-light;
  font-size: 19px;
}
.container-intro {
  background-image: url(../img/home.png);
  height: 726px;
}
nav.navbar.navbar-default {
  margin-bottom: 0;
  border-color: transparent;
}

.row {
  margin-right: 0px;
}
.home-icon{
  text-align: center;
  padding: 110px 0 10px;
}

.home-texto {
  text-align: center;
h2{
  color: rgb(48, 194, 227);
  padding: 0 7%;
  font-size: 30px;
 }
 h3{
  color: rgb(188, 188, 188);
    margin: 5% 0%;
    line-height: 30px;
 }
}
.btn-danger {
  color: #fff;
  background-color: #FF6A49;
 		
}

.btn{
  padding: 9px 32px;
  border-radius: 10px;
}
.flecha-botom {
  position: relative;
  text-align: center;
  top: 137px;
}
.flecha2 {
  position: relative;
  text-align: center;
  top: 40px;
}
.metodologia-texto {
  text-align: center;
  margin: 7%;
  font-family: lato-light;

}
.metodologia-texto h2{
  margin-bottom: 3%;
  color: rgb(48, 194, 227);
}
.metodologia-texto h3{
	display: inline-block;
	color: rgb(255, 106, 73);
}
.metodologia-texto h4{
	display: inline-block;
}
.linea1 {
   height: 215px;
  border-bottom: 1px solid;
  -webkit-transform: translateY(-59px) 
  translateX(234px) 
  rotate(76deg);
  position: absolute;
  top: 154px;
  border: 2px dashed;
  color: #ff6a49;
}
.linea2 {
  height: 192px;
  -webkit-transform: translateY(-44px)
   translateX(13px)
    rotate(108deg);
  position: absolute;
  top: 154px;
  border: 2px dashed;
  color: #ff6a49;
}
.linea3 {
    width: 112px;
  -webkit-transform: translateY(58px) 
  translateX(213px)
   rotate(89deg);
  position: absolute;
  border: 2px dashed;
  color: #ff6a49;
  top: 14%;
}
.interno{
  border:2px  dashed white;
  border-radius: 50%;
  width: 450px;
  margin: auto;
  height: 450px;
  color: white;
}

.interno:hover{
  border:2px  dashed rgb(255, 106, 73);
}
.texto-interno{
 text-align: center;
  margin: 24% 12%;
}
.texto-interno h4{
   line-height: 40px;
   font-size: 25px;
  font-family: lato-light;
}
.text-oculto {
  padding: 7% 21%;
  color:  #989898 ;
}
.text-oculto h4{
  font-size: 24px;
  text-align: center;
}
.icon-oculto{
  text-align: center;
}
.externo{
  border-radius: 50%;
  width: 461px;
  margin: auto;
  height: 465px;
  padding-top: 8px;
  background-color: rgb(255, 106, 73);
}

.externo:hover{
  background-color: white;
}
.texto-derecha{
  position: relative;
  top: 242px;
  text-align: center;
  left: 30px;
}
.texto-derecha h3{
  color: rgb(255, 106, 73);
  font-family: lato-light;
}
.texto-derecha h4{
    color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
  font-family: lato-light;
}
.texto-izquierda{
  position: relative;
  top: 242px;
  text-align: center;
  right: 30px;

}
.texto-izquierda h3{
  color: rgb(255, 106, 73);
  font-family: lato-light;

}
.texto-izquierda h4{
    color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
  font-family: lato-light;
}
.texto-abajo{
  padding-top: 113px;
  text-align: center;
  h3 {
  	color: rgb(255, 106, 73);
  font-family: lato-light;

  }
  h4 {
	color: #bcbcbc;
  	line-height: 25px;
  	font-size: 19px;
  	padding-bottom: 32%;
  font-family: lato-light;
  }
}

.boton-interno .btn {
  padding: 16px 69px;
  border-radius: 25px;
  position: absolute;
  top: 83%;
  left: 33%;
}
.boton-abajo{
   position: absolute;
  left: 46%;
  top: 268%;
}
.postulante{
  background-image: url(../img/img-02.png);
}
.texto-postulante{
  text-align: center;
  color: white;
  padding: 5%;
  font-family: lato-light;
}
.texto-postulante {
  h3{
  font-size: 43px;
  font-weight: 800
 }
 p{
  font-size: 30px;
 }
}
.icono-10{
  position: relative;
  left: 87%;
  bottom: 66px;
  z-index: 8;
}
.texto-crea{
  border-bottom: 1px dashed;
  color: white;
  h4{
  	padding-right: 163px;
  	font-size: 27px;
  font-family: lato-light;

  }
}
.logonumero1{
	text-align: right;
}
.parrafo-crea p{
	color: white;
    padding: 4% 12%;
   font-size: 26px;
   padding-bottom: 0px;
  font-family: lato-light;
}
.dashed-2 {
  border-left: dashed 1px white;
  position: relative;
  height: 150px;
}

.boton-ver {
  padding: 0% 0% 10%;
  text-align: center;
  position: relative;
}
.btn-info{
	border-color: #FFFFFF;

}
.dashed-2 {
  height: 140px;
  border-bottom: 1px ;
  -webkit-transform: translateY(-43px) translateX(380px) rotate(180deg);
  position: absolute;
  top: 154px;
  border: 1px dashed;
  color: white;
}
.empresas{
	text-align:center;	
}
.empresas-texto {
  p{
  font-family: lato-light;
  font-size: 19px;
  color: rgb(188, 188, 188);
  }
	h3{
  color: #989898;
  font-family: lato-light;
  font-size: 31px;
  line-height: 54px;
}
	h4{
		color: rgb(55, 194, 188);
  font-family: lato-light;

	}
}
.border-bottom{
  border-bottom: 1px dashed;
  width: 27%;
  margin: 3% auto;
  color: red;
}
.centros{
  background-color: #77d248;
  height: 822px;
  text-align: center;
}
.texto-centros span {
  color: #ffc200;
  font-size: 33px;
}
.texto-centro h5{
  font-family: lato-light;

}
.texto-centros{
p{
  color: white;
  font-family: lato-light;
  font-size: 21px;
  padding: 0% 22%;
  letter-spacing: 1px;
}
h3{
  font-size: 33px;
  color: white;
}
h5{
  color: white;
  font-family: lato-light;
  font-size: 20px;
  padding: 0% 2%;
  letter-spacing: 1px;
}
	span{
		color:rgb(205, 243, 13);
		}
	h4{
		color:black ;
  font-family: lato-light;

	}

}
.btn-success {
  background-color: #77d248;
  border-color: #EBF4EB;
}
.border-bottom2{
  border-bottom: 1px dashed;
  width: 27%;
  margin: 3% auto;
  color: white;
}
.lista-oportunidades{
   background-image: url(../img/img-03.png);
  height: 1169px;	

}
.lista-titulo{
  text-align: center;
  padding-top: 10%;
}
.lista{
	list-style:none;
	margin-bottom: 	16%;
}
.lista-titular {
  border-bottom: 1px solid #25d9ef;
  color: #25d9ef;
  width: 32%;
  margin: 2% 0;
}
ul{
	color: rgb(188, 188, 188);
}
.texto-centros{
	margin-top: 10%;
}
.texto-centro{
	margin-top: 10%;
  h3{
    font-size: 43px;
  color: #ff6a49;
  }
  span{
    font-size: 30px;
  color: #989898;
  }
  h5{
    font-size: 20px;
  padding: 0% 21% 5% 21%;
  line-height: 32px;
  color: rgb(188, 188, 188);
  }
}
.boton-vermas{
  width: 32%;
  position: relative;
  top: 76px;
  margin-left: inherit;
}
.boton-vertodos{
  text-align: center;
}
.btn-warning {
  color: #fff;
  background-color: #BCBCBC;
  border-color: #BCBCBC;
}
.btn-default {
  color: #FC060B;
  background-color: #fff;
  border-color: #F40B0B;
}
.flecha4{
  position: relative;
  text-align: center;
  top: 66px;
}
.boton-contactanos{
	margin-top: 7%;
}

.border-boton-dashed{
  border: 1px dashed rgb(236, 231, 231);
  margin: 0% 21%;
  position: relative;
  top: 188px;
}
.flecha5 {
  position: relative;
  text-align: center;
  top: 178px;
}
.titulo-blog{
  text-align: center;
    margin-top: 9%;
}
h2{
  font-size: 42px;
  color: #989898;
}

.logo-blog{
	text-align:center;	
}
.blog-textouno{
  background-color: #f1f1f1;
  color: grey;
  padding: 13% 8%;
  width: 78%;
  font-family: lato-light;
  font-size: 19px;
    margin: auto 21%;
}
.blog-textodos{
  background-color: #f1f1f1;
  color: grey;
  padding: 13% 8%;
  width: 78%;
  font-family: lato-light;
  font-size: 19px;
}
.blog-texto{
  background-color: #f1f1f1;
  color: grey;
  padding: 13% 8%;
  width: 78%;
  font-family: lato-light;
  font-size: 19px;
margin: auto;
}
.blog-textouno:hover{
  background-color: rgb(255,189,18);
  color: white;
}
.blog-textodos:hover{
  background-color: rgb(255,189,18);
  color: white;
}
.blog-texto:hover{
  background-color: rgb(255,189,18);
  color: white;
}
a:hover{
text-decoration: none;
color: white;

 }
 a{
  color: #989898;
 }
.logo-blog img{
	border-radius: 50%;
}
.logo-blog{
  position: relative;
  top: 36px;
}
.boton-blog{
  text-align: center;
  margin-top: 8%;
}
.flecha6{
  position: relative;
  text-align: center;
  top: 40px;
}
.contacto{
  background-color: rgb(241, 241, 241);
  height: 622px;
  text-align: center;
}
.columna {
  padding-bottom: 1%;
}
.content{
	padding: 1% 15% 1% 1%;
}s
.btn-primary {
  color: #fff;
  background-color: #BCBCBC;
  border-color: #BCBCBC;
}
.titulo-contacto{
	margin: 7% 0% 5%;
	color: 	rgb(188, 188, 188);
  h2{
    font-size: 41px;
  color: #989898;
  }
}
.redes img{
	border-radius: 50%;
  border: 2px solid white;
}
.redes{
  position: relative;
  bottom: 20px;
}
.footer{
	background: rgb(188, 188, 188);
	height:90px;
}
.text-footer {
	text-align: right;
    span{
    color: white;

    }
}
.formulario-contacto form{
  padding: 3% 34% 0% 34%;
}
.formulario-contacto .form-group{
  margin-bottom: 0px;
}
.botom-grey .btn-default {
  color: #FFFFFF;
  background-color: #BCBCBC;
  border-color: #BCBCBC;
}
.botom-grey{
  text-align: right;
  padding-top: 6%;
}
.btn a {
  color: white;
}

















@media screen and (max-width:$screen-phone){
	.navbar-toggle{
		float: left;
	}

	.texto-izquierda{
		display: block;
		position: relative;
		top: 0;
		right: 0;
	}
	.texto-derecha{
		display: block;
		position: relative;
		position: relative;
  		top: 0;
  		left: 0;
	}
	.texto-abajo{
		display: block;
		position: relative;

	}
	.btn{
		 position: absolute;
  		float: right;
  		bottom: 101%;
	}
	.redes{  
	text-align: center;
	}

.blog-textouno,.blog-textodos,.blog-texto{
  background-color: #FFFFFF;
  color: grey;
  padding: 13% 0%;
  width: 85%;
  font-family: lato-light;
  font-size: 19px;
  margin: auto 12%;
  text-align: center;
}
	.linea1 {
  -webkit-transform: translateY(-86px)
   translateX(162px)
    rotate(90deg);
}
	.linea3 {
  width: 223px;
  -webkit-transform: translateY(344px)
   translateX(48px)
    rotate(180deg);
}
	.content {
   padding: 3% 18% 4% 3%;
   margin-bottom: 18px;
}
.titulo-contacto {
  padding: 0% 12%;
	}
	.fondo-canbio {
  background-color: aliceblue;
	}
  .logonumero1 {
  text-align: center;
 }

 .formulario-contacto form {
  padding: 3% 14% 0% 12%;
}
.titulo-contacto h2 {
  font-size: 36px;
  color: #989898;
}
.contacto {
  background-color: #f1f1f1;
  height: 590px;
  text-align: center;
}
.home-texto{
  h3 {
  font-size: 20px;
  }
 }
 .text-footer {
  text-align: center; 
  }
  .icono-10  {
  left: 40%;
  bottom: 116px;
 }
 .icono-10 img{
  width: 20%;
 }
 .texto-crea {
  margin-top: 30%;
}
.texto-crea h4 {
  text-align: center;
  padding: 0%;
 }
 .parrafo-crea {
  color: white;
  font-size: 22px;
  padding-bottom: 31px;
  font-family: lato-light;
  text-align: center;
}
 .logo-oculto{
  text-align: center;
 }
 .btn {
  border-radius: 10px;
   position: absolute;
  bottom: 101%;
  font-size: 70%;
  right: 6%;
  padding: 7px;
}
 .crear-cuenta{
  background-color: rgba(231, 229, 229, 0.47);
 }
  .text-right {
  text-align: left;
  margin-left: 45%;
  color: #989898;
 }
}




