.intro {
  background-image: url(../img/home.png);
  height: 726px;
}
nav.navbar.navbar-default {
  margin-bottom: 0;
}
.row {
  margin-right: 0px;
}
.home-icon{
  text-align: center;
  padding: 50px 0;
}
.home-texto{
  text-align: center;
  color: rgb(48, 194, 227);
  padding: 0 7%;
}
.home-texto h3{
  color: rgb(188, 188, 188);
}
.btn-danger {
  color: #fff;
  background-color: #FF6A49;
 		
}
.btn{
  padding: 9px 32px;
  border-radius: 10px;
}
.flecha {
  position: relative;
  text-align: center;
  top: 27%;
}
.metodologia-texto {
  text-align: center;
  margin: 7%;
}
.metodologia-texto h2{
  margin-bottom: 3%;
  color: rgb(48, 194, 227);
}
.metodologia-texto h3{
	display: inline-block;
	color: rgb(255, 106, 73);
}
.metodologia-texto h4{
	display: inline-block;
}
.linea1 {
   height: 215px;
  border-bottom: 1px solid;
  -webkit-transform: translateY(-59px) 
  translateX(234px) 
  rotate(76deg);
  position: absolute;
  top: 154px;
  border: 2px dashed;
  color: #ff6a49;
}
.linea2 {
  height: 192px;
  -webkit-transform: translateY(-44px)
   translateX(13px)
    rotate(108deg);
  position: absolute;
  top: 154px;
  border: 2px dashed;
  color: #ff6a49;
}
.linea3 {
  height: 140px;
  -webkit-transform: translateY(100px)
   translateX(230px)
    rotate(180deg);
  position: absolute;
  top: 348px;
  border: 2px dashed;
  color: #ff6a49;
}
.interno{
  border: dashed;
  border-radius: 50%;
  width: 450px;
  margin: auto;
  height: 450px;
  color: white;
}
.texto-interno{
 text-align: center;
  margin: 24% 12%;
}
.texto-interno h4{
   line-height: 40px;
   font-size: 25px;
}
.externo{
  border-radius: 50%;
  width: 461px;
  margin: auto;
  height: 465px;
  padding-top: 8px;
  background-color: rgb(255, 106, 73);
}
.texto-derecha{
  position: absolute;
  top: 242px;
  text-align: center;
  left: 30px;
}
.texto-derecha h3{
  color: rgb(255, 106, 73);
}
.texto-derecha h4{
    color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
}
.texto-izquierda{
  position: absolute;
  top: 242px;
  text-align: center;
  right: 30px;
}
.texto-izquierda h3{
  color: rgb(255, 106, 73);
}
.texto-izquierda h4{
    color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
}
.texto-abajo{
   position: absolute;
  top: 130%;
  width: 47%;
  text-align: center;
  left: 29%;
}
.texto-abajo h3{
  color: rgb(255, 106, 73);
}
.texto-abajo h4{
   color: #bcbcbc;
  line-height: 25px;
  font-size: 19px;
}